.replies{ :style => (comment_opts.delete(:hide_replies) ? 'display:none' : '') }
  - replies.each do |comment|
    = partial 'comment/comment', :locals => {:comment =>comment, :comment_opts => comment_opts }
    .clearfix
