log
.sass-cache
config/redis/*.conf
config/app_settings.yml
config/mail.rb
config/newrelic.yml
webrat.log
art-work
.bundle
public/css/*.css
public/images/sprite.png
*.jar
unicorn.conf.rb
config/secret.txt
app/views/css/_sprite.sass
.rake_tasks
vendor
public/js/app*.js
