<div class='expando_video'>
    <embed quality='high' width='<%= width %>' height='360' allowfullscreen='true' flashvars='type=<%= vtype %>&id=<%= vid %>&cid=<%= cid %>' type='application/x-shockwave-flash' src='/assets/player.swf?type=<%= vtype %>&id=<%= vid %>&cid=<%= cid %>' />
</div>
