%footer
  %div{:class => "row-fluid"}
  .row-fluid
    .row
      .span12 
        © 2012 萝卜网. All rights reserved.
    .row
      .span12
        %img{:src => "/images/HTML5.png", :alt => "Powered by HTML5.", :title => "Powered by HTML5."}/
