- if items.render?
  .pagination.pagination-centered

    - uri = URI(request.url)
    - query_hash = Hash[URI::decode_www_form(uri.query || '')]

    %ul
      - if items.prev_page
        - uri.query = URI::encode_www_form(query_hash.merge('p' => items.prev_page))
        %li
          = link_to '«', uri.to_s

      - items.total_pages.times do |i|
        %li
          - uri.query = URI::encode_www_form(query_hash.merge('p' => i+1))
          = link_to(i+1, uri.to_s)
          
      - if items.next_page
        - uri.query = URI::encode_www_form(query_hash.merge('p' => items.next_page))
        %li
          = link_to '»', uri.to_s
