- if items.render?
  %ul.pager

    - uri = URI(request.url)
    - query_hash = Hash[URI::decode_www_form(uri.query || '')]

    - if items.prev_page
      - uri.query = URI::encode_www_form(query_hash.merge('p' => items.prev_page))
      .hspace
      %li
        = link_to '上一页', uri.to_s
        
    - if items.next_page
      - uri.query = URI::encode_www_form(query_hash.merge('p' => items.next_page))
      .hspace
      %li
        = link_to '下一页', uri.to_s
