!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/

    /[if gt IE 7]
      :javascript
        window.location = "/";

    - if ENV['RACK_ENV'] == 'production'
      = partial :counting_code
  
  %body
    %h1
      您使用的浏览器需要更新了！
    %p
      下载更新的浏览器吧！这将更加有利于您的安全，使得木马、病毒更加难以侵入您的系统，也会使得您上网变得更加流畅！
    %p
      点击下面的链接任选一款浏览器下载来试试吧！用新浏览器再来本站就不会有这个提示了！
    %a{:href => "http://www.google.com/chrome"}
      Google Chrome
    %br
    %a{:href => "http://www.mozilla.com/firefox"}
      Firefox
    %br
    %a{:href => "http://www.microsoft.com/windows/Internet-explorer/default.aspx"}
      Internet Explorer 8+
