.container.hero-column
  .span6.offset3
    %form.form-horizontal.validate-form(action='/login' method='post')
      .fieldset
        .control-group
          %label.control-label(for="login_name") 用户名
          .controls
            %input.input-large(type="text" name="login_name" value="#{params[:login_name]}")/

        .control-group
          %label.control-label(for="login_password") 密码
          .controls
            %input.input-large(type="password" name="login_password" )/

        .form-actions
          %button.btn.btn-large#login_button(type="submit") 
            %i.icon-ok-sign
            登录
          .hspace
          .hspace
          .hspace
          .hspace
          = link_to '忘记密码？', '/reset_password'

