%form.form-horizontal.validate-form(action='/reset_password' method='post')
  .fieldset
    .control-group
      %label.control-label(for="name") 用户名
      .controls
        %input.input-large(type="text" name="name")/

    .control-group
      %label.control-label(for="email") 注册所用邮箱
      .controls
        %input.input-large(type="email" id='email' name="email" )/

    .form-actions
      %button.btn.btn-danger.btn-large#reset_passwd_button(type="submit") 
        %i.icon-exclamation-sign
        重设密码

      %a.btn.btn-large(href='/')
        %i.icon-arrow-left
        返回首页
