- @posts.each do |post|
  .link

    - if post.author == @user
      = partial 'post/post', :locals => {:post => post }
    - else
      = partial 'post/post_with_user_comments', :locals => { :post => post, :user => @user }

    .clearfix

= partial 'pagination', :locals => {:items => @posts}
